body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* div.image {
  margin: 1%;
  display: inline-block;
  position: relative;
}

div.text-overlay hover span.image-text-content {
  opacity: 99;
  z-index: 99;
}

span.text-content {
  background: rgba(8, 247, 194, 1);
  cursor: pointer;
  display: table;
  height: 190px;
  left: 0;
  position: absolute;
  top: 0 !important;
  width: 190px;
  opacity: 0;
  transform: scale(1.1);
  font-size: 11px;
  line-height: 145%;
  color: #000;
  text-align: left;
  padding: 15px;
} */

.images-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: calc(32.33% - 1em);
  margin: 1em 0em 1em 1em;
  position: relative;
  display: inline-block;
}

.image-container:first-of-type {
  margin-left: 0em;
}

.image-container img {
  width: 100%;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* padding: 10px; */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container:hover .image-text {
  opacity: 1;
}